main {
    flex: 1;
}

main ul {
    display: grid; /* coloca a ul lado a lado*/
    grid-template-columns: repeat(2, 1fr); /*define a quantidade de ul na linha*/
    gap: 20px; /*espaçamento entre as duas ul*/
    list-style: none; /*retira o ponto sinal da ul*/
}


/*altera a resposividade para 1 item por linha quando form inferior a 650px de width*/
@media (max-width: 650px){
    main ul {
        grid-template-columns: 1fr; 
    }
}

